.container {
    margin-top: 30px;
}

.navbar-brand {
    color: white !important;
    
}

.text-accent {
    color: #2C3E50;
    background-color: #18BC9C ;
    border-radius: 20px;
    padding-right: 3px;
    padding-left: 4px;
}

.btn-secondary {
    color: #ffffff;
}

.dropdown-menu.show {
    background-color: #45617e;
}

.dropdown-menu :hover{
    background-color: #6286ad !important;
}

.dropdown-item {
    color: white !important;
}

.profile-img {
    border-radius: 5%;  /* 角丸半径を50%にする(=円形にする) */
}

.username {
    color: #768f89;
    font-size: 12px;
}

.course-profile {
    font-size: 24px;
}

/**

強度の値の色

**/
.intst-lowest{
    color: #1872bc;
}
.intst-endurance{
    color: #189bbc;
}
.intst-tempo{
    color: #4cbc18;
}
.intst-LactateThreshold{
    color: #bcac18;
}
.intst-VO2Max{
    color:#bc7a18;
}
.intst-AnaerobicCapacity{
    color: #bc3e18;
}
.intst-NeuromuscularPower{
    color: #bc2318;
}
.intst-highest{
    color: #bc1818;
}

.intst-display{
    font-weight: bolder;
}

.intst-background {
    height: 100px;
}