@charset "UTF-8";

@import 'style.scss';

$primary:                  #2C3E50;
$success:                  #18BC9C;
$secondary:                #95a5a6;

$navbar-dark-active-color: #18BC9C;
$navbar-light-active-colo: #18BC9C;


// Bootstrap
@import '~bootstrap-honoka/scss/bootstrap';