.route-img-div{
    margin-top:    30px;
    margin-bottom: 30px;
}

.route-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: 3px solid $secondary;
}

.transparent {
    opacity: 0;
}

